

body
{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #e2e8f0;
    padding-top: 25px;
    padding-bottom:50px;
    padding-left: 20px;
    padding-right: 30px;
    gap: 15px;
}

.projects
{
    display: flex;
    flex-direction: column;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    align-items: start;
    gap: 10px;
    
}

.project-header, .Announce > div:first-child, .trend-head
{
    font-weight: 600;
    font-size: 16px;
}

.card-container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 210px);
    gap: 25px;
    font-size: 14px;
    
}

.card
{
    display: grid;
    grid-template-rows: 3fr 1fr;
    background-color: white;
    border-left: 6px solid orange;
    border-radius: 8px;
    align-items: start;
    justify-content: center;
    padding-top: 30px;
    padding-left: 25px;
    gap: 5px;
    
}

.card div div:first-child
{
    font-weight: bold;
}

.card div div:nth-child(2)
{
    color: gray;
    font-weight: 500;
    padding-right: 25px;
}

.card > div:last-child
{
    display:flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    padding-right: 45px;

}

.card img
{
    height: 20px;
}

.Announce div div div:first-child
{
    font-weight: bold;
    font-size: 13px;
}

.Announce div div div:last-child
{
    font-size: 12px;
    font-weight: bold;
    color: gray;
    font-weight: 500;
}

.Announce
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 280px;
}

.Announce > div:last-child
{
    background-color: white;
    display: grid;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-right: 25px;
    padding-left: 30px;
}

.Announce > div:last-child > div
{
    padding-bottom: 15px;
    padding-top: 15px;
}

.Announce > div:last-child > div:first-child, .Announce > div:last-child > div:nth-child(2)
{
    border-bottom: 1px solid silver;
}

.Trend
{
    display: grid;
    flex-direction: column;
    align-items: end;
}

.trendContain
{
    display: grid;
    gap: 15px;
    background-color: white;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}


.user-card
{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: start;

}

.user
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.user div:first-child
{
    font-size: 13px;
}

.user div:last-child
{
    color: gray;
    font-size: 13px;
}

.trendContain img
{   
    height: 45px;
    border-radius: 26px;
}





